h1{font-family: Helvetica; text-align: center; color:white;}
table { margin: auto; border: none; width = "100%"; } 
table, th{font-family: Trajan; font-weight: bold; font-size: 22px;}
table, tbody{border = none; border-collapse:collapse;}
h2{font-family: Ariel; font-size: 16px; font-weight: bold; color: white; overflow: hidden; white-space: nowrap;}
.nonReq{color: white; display: inline;}
p {font-family: Ariel; font-size: 18px;}
h3{font-family: Ariel; font-size: 20px; color: white; overflow: hidden; white-space: nowrap; display: inline;}
.req{color: white; font-weight: bold; }
li{font-family: Helvetica; color: white; font-size: 16px; padding-top: 2px; padding-bottom: 2px; text-align:left; left:-20px;}
ul, a:link{color: white; text-decoration:none;}
ul, a:hover{color: orange;}
ul, a:active{color: red;}
a:hover{color: orange;}
ul {list-style-type: none; text-align:left;}
linkBG {bgcolor = "#ccffcc";}
.foot {bgcolor = "lightblue"; align="center";}
.hlink {font-family: Trajan; font-weight: bold; background-color: "#ccffcc"; font-size: 22px;}

.missingReq{
	color: red;
	font-weight: bold;
	font-family: Helvetica;
	padding-top: 0px;
	padding-bottom: 0px;
}
.signIn{
	font-family: Helvetica;
	color: white;
	font-weight: bold;
	padding-top:50px;
	padding-bottom: 0px;
	padding-left:150px;
	padding-right:150px;
}
.createAcc{
	font-family: Helvetica;
	color: white;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 0px;
	padding-left:150px;
	padding-right:150px;
}
.createField{
	padding-left:150px;
	padding-right:150px;
	
}
.reqTop{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left:150px;
	padding-right:150px;
	color: white;
	font-weight: normal;
	font-family: Helvetica;
}
.req{
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left:150px;
	padding-right:150px;
	color: white;
	font-weight: normal;
	font-family: Helvetica;
}
.reqHid{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left:150px;
	color: red;
	font-weight: Bold;
	font-family: Helvetica;
}

.menu {
	text-align: center;
	font-family: Helvetica;
}
.menu a:hover{
	color: orange !important;
}
.menu a:visited {
	color: white;
}
.totals	{
			font-size: 20px;
			color: white;
			padding-left: 1%;
			font-weight: bold;
			padding-top: 12px;
			padding-right: 50px;
			padding-bottom: 12px;
			overflow: hidden;
			white-space: nowrap;
		}
.tValue	{
			font-size: 20px;
			color: white;
			padding-right: 1%;
			padding-top: 12px;
			padding-bottom: 12px;
			overflow: hidden;
			white-space: nowrap;
			
		}
.contactT	{
				font-style: italic;
				font-size: 20px;
				color: white;
				white-space: nowrap; 
				font-weight:normal;
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: center;
			}
.contact	{
				font-style: italic;
				font-size: 20px;
				color: white;
				white-space: nowrap;
				font-weight:normal;
				font-style: normal;
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: center;
			}
.nameTitle	{
				font-style: italic;
				font-size: 20px;
				color: white;
				padding-left: 70px;
				border: none;
			}
			
.leftName		{
				font-size: 18px;
				color: white;
				padding-left: 20px;
				vertical-align: middle;
				
				text-align: left;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 70px;
			}
.name		{
				font-size: 18px;
				color: black;
				padding-left: 20px;
				vertical-align: middle;
				text-align: center;
				padding-top: 5px;
				padding-bottom: 10px;
				padding-left: 70px;
			}
.set	{
			padding-left: 0px;
		}
.search	{
			vertical-align: middle;
			text-align: center;
			font-size: 16px;
			text-align: center;
		}
.title	{
			padding-top: 12px;
			padding-bottom: 12px;
			font-size: 22px;
			font-weight: bold;
			text-align: center;
			color: white;
			margin: 20px;
		}
.drop {
       position: relative;
       display: inline-block;
       background-color: #1f1f1f;
      }
.drop-content {
        position: absolute;
        color: white;
		left: -18px;
		display: none;
		min-width: 280px;
		text-align: left;
	    z-index: 1;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    background-color: #1f1f1f;
		background-clip: padding-box;
        padding-left:10px;
        padding-bottom: 10px;
}
.dropbtn{
        background-color: #1f1f1f;
        padding: 16px;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 22px;
		border: none;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-family: Helvetica;
        }
.dropbtn:hover{
	color: orange;
}

.drop-content a:link{
    color: white; 
	text-decoration:none;    
	       }
.drop-content a:visited {
	color: white;
}
.drop-content a:hover{
	color: orange;
	/*background-color: #606060;*/
}
.drop:hover .drop-content{
    display: block;
}
.leaders{

	/*position: relative;*/
    width: 100%;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;
	min-width: 230px;*/
}
.leadTitle
{
	/*padding-left: 58px;*/
    text-align: center;
	font-weight: 900;
}
.leadPic{
	font-weight: 900;
	padding-bottom: 16px;
	padding-top: 11px;
}
.leaderRow
{
}
.vs
{
	font-family: Helvetica;
	padding-top: 15px;
    padding-right:10px;
}
.vs a:link{
	color: white;
}
.matchUp {
	padding-top: 5px;
	padding-bottom: 5px;
    display: inline-block;
    text-align: center;
	font-family: Helvetica;
}
.matchUpTD {
	min-width:760px;
	padding-top: 5px;
	padding-bottom: 5px;
    text-align: center;
	font-family: Helvetica;
}
.Pad {
	padding-bottom: 50px;
}
.picked {
	padding-top: 0px;
	padding-bottom: 0px;
}
.notPicked {
	padding-top: 11px;
	padding-bottom: 0px;
}
.gameLog {
	font-family: Helvetica;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	min-width: 620px;
}
.gameLogTurnOver {
	font-family: Helvetica;
	padding-left: 0px;
	padding-right: 0px;
	color: red;
	min-width: 620px;
}
.gameLogScore {
	font-family: Helvetica;
	padding-left: 0px;
	padding-right: 0px;
	color: Gold;
	min-width: 580px;
}
.gameLogTime {
	font-family: Helvetica;
	padding-left: 0px;
	padding-right: 0px;
	color: LimeGreen ;
	min-width: 580px;
	text-align: center;
}

.pickRow
{
}
.pickNextRow
{
	text-align: center;
	font-family: Helvetica;
	padding-top: 70px;
}
.titleCard
{
    color:white;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: Helvetica;
	font-weight: 1300;
	font-size: 35px;
	text-align: center;
}
.titleCardWhite
{
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: Helvetica;
	font-weight: 1300;
	font-size: 35px;
	text-align: center;
}
.selectors
{
    /*display: inline;*/
	font-family: Helvetica;
	font-weight: 550;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
.selectorsGreen
{
	font-family: Helvetica;
	font-weight: 550;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectorsGreen
{
    background-color:#2f9c2c;
}
tr:nth-child(even) .selectorsGreen
{
    background-color:#257c22;
}
td:hover .selectorsGreen{
			background-color: #a1a1a1;
}
.select
{
	font-family: Helvetica;
	font-weight: 200;
    color: white;
    text-align:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
.selectGreen
{
	font-family: Helvetica;
	font-weight: 200;
    color: white;
    text-align:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectGreen
{
    background-color:#2f9c2c;
}
tr:nth-child(even) .selectGreen
{
    background-color:#257c22;
}
td:hover .selectGreen{
			background-color: #a1a1a1;
}
.selectRed
{
	font-family: Helvetica;
	font-weight: 200;
    color: white;
    text-align:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
.selectRed
{
	font-family: Helvetica;
	font-weight: 200;
    color: white;
    text-align:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectRed
{
    background-color:#ce3535;
}
tr:nth-child(even) .selectRed
{
    background-color:#9c2c2c;
}
td:hover .selectRed{
			background-color: #a1a1a1;
}
.selectorsRed
{
	font-family: Helvetica;
	font-weight: 550;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectorsRed
{
    background-color:#ce3535;
}
tr:nth-child(even) .selectorsRed
{
    background-color:#9c2c2c;
}
td:hover .selectorsRed{
			background-color: #a1a1a1;
}
.selectorsYellow
{
	font-family: Helvetica;
	font-weight: 550;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectorsYellow
{
    background-color:#ba9f32
}
tr:nth-child(even) .selectorsYellow
{
    background-color:#a38c2f; 
}
td:hover .selectorsYellow{
			background-color: #a1a1a1;
}
.selectYellow
{
	font-family: Helvetica;
	font-weight: 300;
    color: white;
    text-align:left;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right:5px;
}
tr:nth-child(odd) .selectYellow
{
    background-color:#ba9f32
}
tr:nth-child(even) .selectYellow
{
    background-color:#a38c2f;
}
.selectYellow:hover{
			background-color: #a1a1a1; !important
}
.dropDown {
    display: inline-block;
}
.selectOptions {
    display: inline;
    float:left;
    margin-left:15%;
}
.otherSelect {
	float:left;
	margin-left:-5%
}
.picksMatchUp {
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica;
}
.better {
	color: #BFBF3F;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
}
.worse {
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
}
.same {
	color: #6D6D6D;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
}
.stat {
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
}
.break
{
	background-color: #f9f9f9;
	padding-bottom: 10px;
	padding-top: 10px;
}
.table{
	padding-top: 25px;
	text-align: center;
	font-family: Helvetica;
	padding-bottom: 50px;
}
.statTable{
	padding-top: 25px;
	text-align: left;
	font-family: Helvetica;
	padding-bottom: 50px;
}


tr:nth-child(even) {background-color: #1f1f1f} 
/*td:nth-child(7) {background-color: #2f9c2c}
td:nth-child(10) {background-color: #2f9c2c} 
td:nth-child(12) {background-color: #2f9c2c} 
td:nth-child(15) {background-color: #2f9c2c} 
td:nth-child(17) {background-color: #9c2c2c} 
td:nth-child(18) {background-color: #a38c2f; font-weight: bold}*/
td:hover{
			background-color: #a1a1a1;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: #2c2c2c;
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}*/